{% extends "component/layout.html" %}
{% load crispy_forms_tags %}

{% block loader %}
  {% include "component/loader.html" %}
  
  
  {% endblock loader %}
      {% include "component/loader.html" %}

  <!--This is header-->
  {% block header %}
    <div class="col-md-6 >
        <p> your account has been created successfully.<a href="{% url 'login' %}">login</a></p>
    </div>  
      {% endblock header %}
  
  <!-- end site-header -->
  
  {% block banner %}
      {% include "component/banner.html" %}
  
  {% endblock banner %}
      
  <!-- end banner -->

  {% block menu %}
      {% include "component/menu.html" %}
  
  {% endblock menu %}

  
  {% block extramenu %}
      {% include "component/extramenu.html" %}

  {% endblock extramenu %}

  {% block gallery %}
      {% include "component/gallery.html" %}
 
  {% endblock gallery %}

  {% block price %}
      {% include "component/price.html" %}
  
  {% endblock price %}

  {% block reservation %}
      {% include "component/reservation.html" %}
 
  {% endblock reservation %}

  {% block footer %}
      {% include "component/footer.html" %}
  
  {% endblock footer %}





  {% block scripts %}
      {% include "component/scripts.html" %}
  
  {% endblock scripts %}